doctype html
head
  // Meta
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(http-equiv='content-type' content='text/html;charset=UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Nécessaire pour le coté "Responsive"
  meta(name='description' content="Réseau social des Collectionneurs de sujet d'Histoire Militaire")
  meta(name='author' content='kingstudio.ro')
  // Favicon
  link(rel='icon' href='static/images/favicon.png')
  title Collect&apos;Or
  // Fonts
  link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i' rel='stylesheet')
  link(href='static/css/font-awesome.css' rel='stylesheet')
  script(src='https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js')
  // Styles
  link(href='static/css/bootstrap.css' rel='stylesheet' type='text/css')
  link(href='static/css/index.css' rel='stylesheet')
  script.
    WebFont.load({
    google: {
    families: ['Ranga', 'Julius Sans One', 'Montserrat']
    }
    });
  script.
    // ********************************************************************* //
    // *                                                                   * //
    // *       "Collect'Or" - Octobre-Novembre 2018                        * //
    // *                                                                   * //
    // ********************************************************************* //
    // *                                                                   * //
    // *   Dominique Hourdequin - Octobre 2018                             * //
    // *   Projet N°3 - Type "Full-Stack"                                  * //
    // *                                                                   * //
    // *   Formation "Développeur Full Stack Javascript"                   * //
    // *   Classe : "DIWJS08" - Printemps 2018                             * //
    // *   IFOCOP - Paris XI                                               * //
    // *                                                                   * //
    // *   Contact à l'IFOCOP qui transmettra mes coordonnées sur demande  * //
    // *   Responsable de formation                                        * //
    // *   Madame Fabienne Thiry                                           * //
    // *   mail : fthiry@ifocop.fr                                         * //
    // *   Tel : 01-40-21-83-78                                            * //
    // *                                                                   * //
    // ********************************************************************* //
// *************************************************************************
// NavBar
// *************************************************************************
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
  a.navbar-brand(href='#')
    img.d-inline-block.align-top.mr-2(alt="Logo du site 'Collect\'Or" src='static/images/brand.png' height='40')
  span#idNbrPopulation.infosOnNavBar
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#mainScreenMenu' aria-expanded='false' aria-controls='mainScreenMenu' aria-label='Toggle mainScreenMenu')
    span.navbar-toggler-icon
  #mainScreenMenu.collapse.navbar-collapse
    ul.navbar-nav.ml-auto
      li.nav-item.mx-1
        a#idConnexion.nav-link(href='#idModalLogin' data-toggle='modal' data-target='#idModalLogin')
          span.fa.fa-sign-in
          |  Connexion
      li.nav-item
        a#idCreation.nav-link(href='#idModalSignIn' data-toggle='modal' data-target='#idModalSignIn')
          span.fa.fa-plus
          |   Cr&eacute;er un compte
      //
        <li class="nav-item">
        <a class="nav-link" href="#gallery">Galerie</a>
        </li>
      li.nav-item.mx-1.dropdown
        a#idDropDownProfilMenu.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          span#idMemberName.fa.fa-user
        .dropdown-menu(aria-labelledby='templates-dropdown')
          a#idCompte.dropdown-item(href='#idModalCompte' data-toggle='modal' data-target='#idModalCompte') Renseignements
          a.dropdown-item(href='template-2.html') Pr&eacute;f&eacute;rences
          hr
          a.dropdown-item(href='template-4.html') Administration
          hr
          a#idDeconnexion.dropdown-item.disabled(href='#' target='_top')
            span.fa.fa-sign-out
            |  D&eacute;connexion
      li.nav-item
        a.nav-link(href='#idGenericModal' data-toggle='modal' data-target='#idGenericModal')
          span.fa.fa-bell
          |  A propos
// *************************************************************************
// Carroussel de fond d'écran
// *************************************************************************
#mainScreenCaroussel.carousel.slide.carousel-fade.carousel-fullscreen(data-ride='carousel' data-interval='4000' data-pause='false')
  // Indicators de bas de slides
  ol.carousel-indicators
    li.active.txt-yellow-stroke(data-target='#mainScreenCaroussel' data-slide-to='0')
    li.txt-yellow-stroke(data-target='#mainScreenCaroussel' data-slide-to='1')
    li.txt-yellow-stroke(data-target='#mainScreenCaroussel' data-slide-to='2')
    li.txt-yellow-stroke(data-target='#mainScreenCaroussel' data-slide-to='3')
    li.txt-yellow-stroke(data-target='#mainScreenCaroussel' data-slide-to='4')
    li.txt-yellow-stroke(data-target='#mainScreenCaroussel' data-slide-to='5')
  // sliders
  .carousel-inner(role='listbox')
    .carousel-item.active(style="background: url('static/images/PLANCHE-EUGENE-LELIEPVRE-Ancien-Régime.jpg') center 35%; background-size: cover;")
      .overlay
      .carousel-caption
        .row.my-auto
          .col-lg-10.col-md-8.col-sm-12.text-center.mx-auto.py-5.my-5
            h1.mb-4.display-1.mx-5.txt-yellow-stroke Collect&apos;Or
            p.lead.mt-5.display-4.txt-yellow-stroke(style='opacity: .95;') R&eacute;seau Social des collectionneurs de sujets d&apos;Histoire Militaire
    .carousel-item(style="background: url('static/images/DIORAMA 23-Napoléonnien-03.jpg') center 35%; background-size: cover;")
      .overlay
      .carousel-caption
        .row.my-auto
          .col-lg-10.col-md-8.col-sm-12.text-center.mx-auto.py-5.my-5
            h1.mb-4.display-1.mx-5.txt-yellow-stroke Collect&apos;Or
            p.lead.mt-5.display-4.txt-yellow-stroke(style='opacity: .95;') R&eacute;seau Social des collectionneurs de sujets d&apos;Histoire Militaire
    .carousel-item(style="background: url('static/images/Diorama Corsair WWII-large.jpg') center 100%; background-size: cover;")
      .overlay
      .carousel-caption
        .row.my-auto
          .col-lg-10.col-md-8.col-sm-12.text-center.mx-auto.py-5.my-5
            h1.mb-4.display-1.mx-5.txt-yellow-stroke Collect&apos;Or
            p.lead.mt-5.display-4.txt-yellow-stroke(style='opacity: .95;') R&eacute;seau Social des collectionneurs de sujets d&apos;Histoire Militaire
    .carousel-item(style="background: url('static/images/ob_3ff2db_retraite-russie-a-007.jpg') center 100%; background-size: cover;")
      .overlay
      .carousel-caption
        .row.my-auto
          .col-lg-10.col-md-8.col-sm-12.text-center.mx-auto.py-5.my-5
            h1.mb-4.display-1.mx-5.txt-yellow-stroke Collect&apos;Or
            p.lead.mt-5.display-4.txt-yellow-stroke(style='opacity: .95;') R&eacute;seau Social des collectionneurs de sujets d&apos;Histoire Militaire
    .carousel-item(style="background: url('static/images/ChargeDeChevaliers.jpg') center 50%; background-size: cover;")
      .overlay
      .carousel-caption
        .row.my-auto
          .col-lg-10.col-md-8.col-sm-12.text-center.mx-auto.py-5.my-5
            h1.mb-4.display-1.mx-5.txt-yellow-stroke Collect&apos;Or
            p.lead.mt-5.display-4.txt-yellow-stroke(style='opacity: .95;') R&eacute;seau Social des collectionneurs de sujets d&apos;Histoire Militaire
    .carousel-item(style="background: url('static/images/AfrikaCorpsjpg.jpg') center 50%; background-size: cover;")
      .overlay
      .carousel-caption
        .row.my-auto
          .col-lg-10.col-md-8.col-sm-12.text-center.mx-auto.py-5.my-5
            h1.mb-4.display-1.mx-5.txt-yellow-stroke Collect&apos;Or
            p.lead.mt-5.display-4.txt-yellow-stroke(style='opacity: .95;') R&eacute;seau Social des collectionneurs de sujets d&apos;Histoire Militaire
  // Controls G et D
  a.carousel-control-prev(href='#mainScreenCaroussel' role='button' data-slide='prev')
    span.carousel-control-prev-icon(aria-hidden='true')
    span.sr-only Previous
  a.carousel-control-next(href='#mainScreenCaroussel' role='button' data-slide='next')
    span.carousel-control-next-icon(aria-hidden='true')
    span.sr-only Next
// ***********************************************************************************
// Fenêtre Modale générique - Le titre "idGenericModalTitle" et le contenu
// "idModalBodyText" sont alimentés par javascript
// ***********************************************************************************
#idGenericModal.modal(tabindex='-1' role='dialog' aria-labelledby='idGenericModalTitle' aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content
      #idGenericModalHeader.modal-header
        h5#idGenericModalTitle.modal-title
        button.close(type='button' data-dismiss='modal' aria-label='Fermer' aria-hidden='true') &times;
      .modal-body
        img.mb-4.mx-auto.d-block(src='static/images/favicon.png' alt="Logo du site 'Collect\'Or'" width='auto' height='72')
        #idGenericModalBodyText
      .modal-footer
        button.btn.btn-success(type='button' data-dismiss='modal') Fermer
// *************************************************************************
// Fenêtre Modale Login
// *************************************************************************
#idModalLogin.modal(tabindex='-1' role='dialog' aria-labelledby='idModalLoginTitle' aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content
      #idModalLoginHeader.modal-header
        h5.modal-title Connexion
        button.close(type='button' data-dismiss='modal' aria-label='Fermer' aria-hidden='true') &times;
      .modal-body
        form#idLoginForm.form-signin
          img.mb-4.mx-auto.d-block(src='static/images/favicon.png' alt="Logo du site 'Collect\'Or'" width='auto' height='72')
          h1.h3.mb-3.font-weight-normal Veuillez vous identifier
          label.sr-only(for='LoginPseudo') Pseudonyme
          input#idLoginPseudo.form-control(type='text' name='LoginPseudo' placeholder='Pseudonyme' required='' autofocus='' pattern='^[a-zA-Z0-9]{1}[a-zA-Z0-9_&#$ \*\-]{2,19}$' title="Le 1er caractère doit être alphanumérique, les suivants également + ' ','_','&','#','-','*','$', et la longueur comprise entre 3 et 20 caractères")
          br
          label.sr-only(for='LoginPassword') Mot de passe
          input#idLoginPassword.form-control(type='password' name='LoginPassword' placeholder='Mot de passe' required='' pattern='^[a-zA-Z0-9]{1}[a-zA-Z0-9_&#$\*\-]{5,11}$' title="Le 1er caractère doit être alphanumérique, les suivants également + '_','&','#','-','*','$', et la longueur comprise entre 6 et 12 caractères")
          .row.justify-content-between
            #idSignIn.mt-1.mb-2.col-6.xs-col-6.text-left.speedKey
              | Cr&eacute;er un compte
            #idLostPWD.mt-1.mb-2.col-6.xs-col-6.text-right.speedKey
              | Mot de passe oubli&eacute; ?
          p#idLoginAlertMsg.lead.mt-5.display-4.text-danger.text-center.alertMsg Pseudo et/ou mot de passe inconnus
          .modal-footer
            button#idConnectionBtn.btn.btn-lg.btn-success.btn-block(type='submit') Connexion
// *************************************************************************
// Fenêtre Modale Inscription
// *************************************************************************
#idModalSignIn.modal(tabindex='-1' role='dialog' aria-labelledby='idModalSignInTitle' aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content
      #idModalSignInHeader.modal-header
        h5.modal-title Cr&eacute;ation de compte
        button.close(type='button' data-dismiss='modal' aria-label='Fermer' aria-hidden='true') &times;
      .modal-body
        form#idSignInForm.form-signin
          img.mb-4.mx-auto.d-block(src='static/images/favicon.png' alt="Logo du site 'Collect\'Or'" width='auto' height='72')
          h1.h3.mb-3.font-weight-normal Veuillez saisir vos informations
          .mb-3
            label.sr-only(for='SignInEmail')
              | Email 
              span.text-muted
            .input-group
              .input-group-prepend
                span.input-group-text @
              input#idSignInEmail.form-control(type='email' name='SignInEmail' placeholder='exemple@provider.com' required='' autofocus='')
          fieldset
            label.sr-only(for='SignInPseudo') Pseudonyme
            input#idSignInPseudo.form-control(type='text' name='SignInPseudo' placeholder='Pseudonyme' required='' pattern='^[a-zA-Z0-9]{1}[a-zA-Z0-9_&#$ \*\-]{2,19}$' title="Le 1er caractère doit être alphanumérique, les suivants également + ' ','_','&','#','-','*','$', et la longueur comprise entre 3 et 20 caractères")
            br
            label.sr-only(for='SignInPassword') Mot de passe
            input#idSignInPassword.form-control(type='password' name='SignInPassword' placeholder='Mot de passe' required='' pattern='^[a-zA-Z0-9]{1}[a-zA-Z0-9_&#$\*\-]{5,11}$' title="Le 1er caractère doit être alphanumérique, les suivants également + '_','&','#','-','*','$', et la longueur comprise entre 6 et 12 caractères")
            input#idSignInConfirmPassword.form-control(type='password' name='SignInConfirmPassword' placeholder='Mot de passe' required='' pattern='^[a-zA-Z0-9]{1}[a-zA-Z0-9_&#$\*\-]{5,11}$' title="Le 1er caractère doit être alphanumérique, les suivants également + '_','&','#','-','*','$', et la longueur comprise entre 6 et 12 caractères")
            label.sr-only(for='SignInConfirmPassword') Confirmez le mot de passe
          p#idSignInAlertMsg.lead.mt-5.display-4.text-danger.text-center.alertMsg L&apos;e-mail et/ou le pseudo sont d&eacute;j&agrave; attribu&eacute;s
          .modal-footer
            button#idSignInBtn.btn.btn-lg.btn-success.btn-block(type='submit') Cr&eacute;ation
// *************************************************************************
// Fenêtre Modale de Mot de passe perdu
// *************************************************************************
#idModalLostPWD.modal(tabindex='-1' role='dialog' aria-labelledby='idModalLostPWDTitle' aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content
      #idModalLostPWDHeader.modal-header
        h5.modal-title Mot de passe perdu
        button.close(type='button' data-dismiss='modal' aria-label='Fermer' aria-hidden='true') &times;
      .modal-body
        form#idLostPWDForm.form-LostPWD
          img.mb-4.mx-auto.d-block(src='static/images/favicon.png' alt="Logo du site 'Collect\'Or'" width='auto' height='72')
          h1.h3.mb-3.font-weight-normal Veuillez saisir votre e-mail
          .mb-3
            label.sr-only(for='LostPWDEmail')
              | Email 
              span.text-muted
            .input-group
              .input-group-prepend
                span.input-group-text @
              input#idLostPWDEmail.form-control(type='email' name='LostPWDEmail' placeholder='exemple@provider.com' required='' autofocus='')
          p#idLostPWDAlertMsg.lead.mt-5.display-4.text-danger.text-center.alertMsg L&apos;e-mail fourni n&apos;a pas &eacute;t&eacute; trouv&eacute;, veuillez le resaisir
          .modal-footer
            button#idLostPWDBtn.btn.btn-lg.btn-success.btn-block(type='submit') Envoi
// *************************************************************************
// Fenêtre Modale de renseignements
// *************************************************************************
#idModalCompte.modal(tabindex='-1' role='dialog' aria-labelledby='idModalCompteTitle' aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role='document' style='max-width: 900px!important;')
    .modal-content
      #idModalCompteHeader.modal-header
        h5.modal-title Renseignements personnels
        button.close(type='button' data-dismiss='modal' aria-label='Fermer' aria-hidden='true') &times;
      .modal-body
        .py-5.text-center
          img.mb-4.mx-auto.d-block(src='static/images/favicon.png' alt="Logo du site 'Collect\'Or'" width='auto' height='72')
          h2 Saisie des renseignements personnels
          p.lead
            | Ces informations, optionnelles, vont permettre aux autres internautes de conna&icirc;tre votre r&eacute;gion, ou vos centre d\&apos;int&eacute;r&ecirc;ts, vos types de collections pr&eacute;f&eacute;r&eacute;es par exemple...
          .row.justify-content-around
            // <div class="col-md-4 order-md-2 mb-4">
            //
              <h4 class="d-flex justify-content-between align-items-center mb-3">
              <span class="text-muted">Your cart</span>
              <span class="badge badge-secondary badge-pill">3</span>
              </h4>
              <ul class="list-group mb-3">
              <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
              <h6 class="my-0">Product name</h6>
              <small class="text-muted">Brief description</small>
              </div>
              <span class="text-muted">$12</span>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
              <h6 class="my-0">Second product</h6>
              <small class="text-muted">Brief description</small>
              </div>
              <span class="text-muted">$8</span>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
              <h6 class="my-0">Third item</h6>
              <small class="text-muted">Brief description</small>
              </div>
              <span class="text-muted">$5</span>
              </li>
              <li class="list-group-item d-flex justify-content-between bg-light">
              <div class="text-success">
              <h6 class="my-0">Promo code</h6>
              <small>EXAMPLECODE</small>
              </div>
              <span class="text-success">-$5</span>
              </li>
              <li class="list-group-item d-flex justify-content-between">
              <span>Total (USD)</span>
              <strong>$20</strong>
              </li>
              </ul>
            //
              <form class="card p-2">
              <div class="input-group">
              <input type="text" class="form-control" placeholder="Promo code">
              <div class="input-group-append">
              <button type="submit" class="btn btn-secondary">Redeem</button>
              </div>
              </div>
              </form>
            // </div>
            .col-md-12.order-md-1
              // <h4 class="mb-3">Billing address</h4>
              form.needs-validation(novalidate='')
                .row
                  .col-md-6.mb-3
                    label(for='firstName') First name
                    input#firstName.form-control(type='text' placeholder='' value='' required='')
                    .invalid-feedback
                      | Valid first name is required.
                  .col-md-6.mb-3
                    label(for='lastName') Last name
                    input#lastName.form-control(type='text' placeholder='' value='' required='')
                    .invalid-feedback
                      | Valid last name is required.
                .mb-3
                  label(for='username') Username
                  .input-group
                    .input-group-prepend
                      span.input-group-text @
                    input#username.form-control(type='text' placeholder='Username' required='')
                    .invalid-feedback(style='width: 100%;')
                      | Your username is required.
                .mb-3
                  label(for='email')
                    | Email 
                    span.text-muted (Optional)
                  input#email.form-control(type='email' placeholder='you@example.com')
                  .invalid-feedback
                    | Please enter a valid email address for shipping updates.
                .mb-3
                  label(for='address') Address
                  input#address.form-control(type='text' placeholder='1234 Main St' required='')
                  .invalid-feedback
                    | Please enter your shipping address.
                .mb-3
                  label(for='address2')
                    | Address 2 
                    span.text-muted (Optional)
                  input#address2.form-control(type='text' placeholder='Apartment or suite')
                .row
                  .col-md-5.mb-3
                    label(for='country') Country
                    select#country.custom-select.d-block.w-100(required='')
                      option(value='') Choose...
                      option United States
                    .invalid-feedback
                      | Please select a valid country.
                  .col-md-4.mb-3
                    label(for='state') State
                    select#state.custom-select.d-block.w-100(required='')
                      option(value='') Choose...
                      option California
                    .invalid-feedback
                      | Please provide a valid state.
                  .col-md-3.mb-3
                    label(for='zip') Zip
                    input#zip.form-control(type='text' placeholder='' required='')
                    .invalid-feedback
                      | Zip code required.
                hr.mb-4
                .custom-control.custom-checkbox
                  input#same-address.custom-control-input(type='checkbox')
                  label.custom-control-label(for='same-address') Shipping address is the same as my billing address
                .custom-control.custom-checkbox
                  input#save-info.custom-control-input(type='checkbox')
                  label.custom-control-label(for='save-info') Save this information for next time
                hr.mb-4
                h4.mb-3 Payment
                .d-block.my-3
                  .custom-control.custom-radio
                    input#credit.custom-control-input(name='paymentMethod' type='radio' checked='' required='')
                    label.custom-control-label(for='credit') Credit card
                  .custom-control.custom-radio
                    input#debit.custom-control-input(name='paymentMethod' type='radio' required='')
                    label.custom-control-label(for='debit') Debit card
                  .custom-control.custom-radio
                    input#paypal.custom-control-input(name='paymentMethod' type='radio' required='')
                    label.custom-control-label(for='paypal') Paypal
                .row
                  .col-md-6.mb-3
                    label(for='cc-name') Name on card
                    input#cc-name.form-control(type='text' placeholder='' required='')
                    small.text-muted Full name as displayed on card
                    .invalid-feedback
                      | Name on card is required
                  .col-md-6.mb-3
                    label(for='cc-number') Credit card number
                    input#cc-number.form-control(type='text' placeholder='' required='')
                    .invalid-feedback
                      | Credit card number is required
                .row
                  .col-md-3.mb-3
                    label(for='cc-expiration') Expiration
                    input#cc-expiration.form-control(type='text' placeholder='' required='')
                    .invalid-feedback
                      | Expiration date required
                  .col-md-3.mb-3
                    label(for='cc-expiration') CVV
                    input#cc-cvv.form-control(type='text' placeholder='' required='')
                    .invalid-feedback
                      | Security code required
                p#idCompteAlertMsg.lead.mt-5.display-4.text-danger.text-center.alertMsg L&apos;e-mail et/ou le pseudo sont d&eacute;j&agrave; attribu&eacute;s
                hr.mb-4
                button.btn.btn-primary.btn-lg.btn-block(type='submit') Continue to checkout
          footer.my-5.pt-5.text-muted.text-center.text-small
            p.mb-1 &copy; 2017-2018 Company Name
            ul.list-inline
              li.list-inline-item
                a(href='#') Privacy
              li.list-inline-item
                a(href='#') Terms
              li.list-inline-item
                a(href='#') Support
  |  --&gt;
  // </div>
  // </div>
  // *************************************************************************
  // Footer
  // *************************************************************************
  footer.footer
    .container
      span.bg-dabger Place sticky footer content here.
  // *************************************************************************
  // Vérification Javascript activé + chargement des librairies
  // *************************************************************************
  noscript
    p Veuillez activer JavaScript
  script(src='static/js/jquery-3.3.1.slim.min.js')
  script(src='static/js/popper.min.js')
  script(src='static/js/bootstrap.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='/static/js/toolBox.js')
  script(src='/static/js/variables.js')
  script(src='/static/js/SPAMgr.js')
  script(src='/static/js/MemberClientSide.js')
  //
    <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
    'use strict';
    window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
    form.addEventListener('submit', function(event) {
    if (form.checkValidity() === false) {
    event.preventDefault();
    event.stopPropagation();
    }
    form.classList.add('was-validated');
    }, false);
    });
    }, false);
    })();
    </script>
