doctype html
head
  // Meta
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(http-equiv='content-type' content='text/html;charset=UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Nécessaire pour le coté "Responsive"
  meta(name='description' content='Bootstrap 4 UI / Starter Kit')
  meta(name='author' content='kingstudio.ro')
  // Favicon
  link(rel='icon' href='static/images/favicon.png')
  title Collect&apos;Or
  // Fonts
  link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i' rel='stylesheet')
  link(href='static/css/font-awesome.css' rel='stylesheet')
  script(src='https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js')
  // Styles
  link(href='static/css/bootstrap.css' rel='stylesheet' type='text/css')
  link(href='static/css/index.css' rel='stylesheet')
  script.
    WebFont.load({
    google: {
    families: ['Ranga', 'Julius Sans One', 'Montserrat']
    }
    });
  script.
    // ********************************************************************* //
    // *                                                                   * //
    // *       "Collect'Or" - Octobre-Novembre 2018                        * //
    // *                                                                   * //
    // ********************************************************************* //
    // *                                                                   * //
    // *   Dominique Hourdequin - Octobre 2018                             * //
    // *   Projet N°3 - Type "Full-Stack"                                  * //
    // *                                                                   * //
    // *   Formation "Développeur Full Stack Javascript"                   * //
    // *   Classe : "DIWJS08" - Printemps 2018                             * //
    // *   IFOCOP - Paris XI                                               * //
    // *                                                                   * //
    // *   Contact à l'IFOCOP qui transmettra mes coordonnées sur demande  * //
    // *   Responsable de formation                                        * //
    // *   Madame Fabienne Thiry                                           * //
    // *   mail : fthiry@ifocop.fr                                         * //
    // *   Tel : 01-40-21-83-78                                            * //
    // *                                                                   * //
    // ********************************************************************* //
// *************************************************************************
// NavBar
// *************************************************************************
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
  a.navbar-brand(href='#')
    img.d-inline-block.align-top.mr-2(alt="Logo du site 'Collect\'Or" src='static/images/brand.png' height='40')
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#mainScreenMenu' aria-expanded='false' aria-controls='mainScreenMenu' aria-label='Toggle mainScreenMenu')
    span.navbar-toggler-icon
  #mainScreenMenu.collapse.navbar-collapse
    ul.navbar-nav.ml-auto
      li.nav-item.mx-1
        a#idConnexion.nav-link(href='#idModalLogin' data-toggle='modal' data-target='#idModalLogin')
          span.fa.fa-sign-in
          |  Connexion
      li.nav-item
        a#idCreation.nav-link(href='#idModalSignIn' data-toggle='modal' data-target='#idModalSignIn')
          span.fa.fa-plus
          |   Cr&eacute;er un compte
      li.nav-item
        a.nav-link(href='#gallery') Galerie
      li.nav-item.mx-1.dropdown
        a#templates-dropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          span.fa.fa-user
          |  Profil
        .dropdown-menu(aria-labelledby='templates-dropdown')
          a.dropdown-item(href='template-1.html') Renseignements
          a.dropdown-item(href='template-2.html') Pr&eacute;f&eacute;rences
          hr
          a.dropdown-item(href='template-4.html') Administration
          hr
          a#idDeconnexion.dropdown-item.disabled(href='#' target='_top')
            span.fa.fa-sign-out
            |  D&eacute;connexion
      li.nav-item
        a.nav-link(href='#idAbout' data-toggle='modal' data-target='#idAbout')
          span.fa.fa-bell
          |  A propos
// *************************************************************************
// Carroussel de fond d'écran
// *************************************************************************
#mainScreenCaroussel.carousel.slide.carousel-fade.carousel-fullscreen(data-ride='carousel' data-interval='4000' data-pause='false')
  // Indicators de bas de slides
  ol.carousel-indicators
    li.active.txt-yellow-stroke(data-target='#mainScreenCaroussel' data-slide-to='0')
    li.txt-yellow-stroke(data-target='#mainScreenCaroussel' data-slide-to='1')
    li.txt-yellow-stroke(data-target='#mainScreenCaroussel' data-slide-to='2')
    li.txt-yellow-stroke(data-target='#mainScreenCaroussel' data-slide-to='3')
    li.txt-yellow-stroke(data-target='#mainScreenCaroussel' data-slide-to='4')
  // sliders
  .carousel-inner(role='listbox')
    .carousel-item.active(style="background: url('static/images/PLANCHE-EUGENE-LELIEPVRE-Ancien-Régime.jpg') center 35%; background-size: cover;")
      .overlay
      .carousel-caption
        .row.my-auto
          .col-lg-10.col-md-8.col-sm-12.text-center.mx-auto.py-5.my-5
            h1.mb-4.display-1.mx-5.txt-yellow-stroke Collect&apos;Or
            p.lead.mt-5.display-4.txt-yellow-stroke(style='opacity: .95;') R&eacute;seau Social des collectionneurs de sujets d&apos;Histoire Militaire
    .carousel-item(style="background: url('static/images/DIORAMA 23-Napoléonnien-03.jpg') center 35%; background-size: cover;")
      .overlay
      .carousel-caption
        .row.my-auto
          .col-lg-10.col-md-8.col-sm-12.text-center.mx-auto.py-5.my-5
            h1.mb-4.display-1.mx-5.txt-yellow-stroke Collect&apos;Or
            p.lead.mt-5.display-4.txt-yellow-stroke(style='opacity: .95;') R&eacute;seau Social des collectionneurs de sujets d&apos;Histoire Militaire
    .carousel-item(style="background: url('static/images/Diorama Corsair WWII-large.jpg') center 100%; background-size: cover;")
      .overlay
      .carousel-caption
        .row.my-auto
          .col-lg-10.col-md-8.col-sm-12.text-center.mx-auto.py-5.my-5
            h1.mb-4.display-1.mx-5.txt-yellow-stroke Collect&apos;Or
            p.lead.mt-5.display-4.txt-yellow-stroke(style='opacity: .95;') R&eacute;seau Social des collectionneurs de sujets d&apos;Histoire Militaire
    .carousel-item(style="background: url('static/images/ob_3ff2db_retraite-russie-a-007.jpg') center 100%; background-size: cover;")
      .overlay
      .carousel-caption
        .row.my-auto
          .col-lg-10.col-md-8.col-sm-12.text-center.mx-auto.py-5.my-5
            h1.mb-4.display-1.mx-5.txt-yellow-stroke Collect&apos;Or
            p.lead.mt-5.display-4.txt-yellow-stroke(style='opacity: .95;') R&eacute;seau Social des collectionneurs de sujets d&apos;Histoire Militaire
    .carousel-item(style="background: url('static/images/Marignan.jpg') center 50%; background-size: cover;")
      .overlay
      .carousel-caption
        .row.my-auto
          .col-lg-10.col-md-8.col-sm-12.text-center.mx-auto.py-5.my-5
            h1.mb-4.display-1.mx-5.txt-yellow-stroke Collect&apos;Or
            p.lead.mt-5.display-4.txt-yellow-stroke(style='opacity: .95;') R&eacute;seau Social des collectionneurs de sujets d&apos;Histoire Militaire
  // Controls G et D
  a.carousel-control-prev(href='#mainScreenCaroussel' role='button' data-slide='prev')
    span.carousel-control-prev-icon(aria-hidden='true')
    span.sr-only Previous
  a.carousel-control-next(href='#mainScreenCaroussel' role='button' data-slide='next')
    span.carousel-control-next-icon(aria-hidden='true')
    span.sr-only Next
// *************************************************************************
// Fenêtre Modale A propos
// *************************************************************************
#idAbout.modal.fade(tabindex='-1' role='dialog' aria-labelledby='idModalAboutTitle' aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content
      .modal-header
        h5#idModalTitle.modal-title A propos...
        button.close(type='button' data-dismiss='modal' aria-label='Fermer' aria-hidden='true') X
      .modal-body
        img.mb-4.mx-auto.d-block(src='static/images/favicon.png' alt="Logo du site 'Collect\'Or'" width='auto' height='72')
        h5 Bienvenue dans Collect&apos;Or
        p
          | Collector est un r&eacute;seau social destin&eacute; aux collectionneurs de figurines, v&eacute;hicules, avions, bateaux, et autres sujets historiques, principalement militaires, mais les autres types de collections sont &eacute;galement les bienvenus
        p
          | Vous pourrez notamment discuter en public ou en priv&eacute; avec d&apos;autres collectionneurs, d&eacute;poser / lire des annonces de vente, d&apos;&eacute;change, de recherche, de manifestations...
        p
          | Vous pourrez laisser vos avis sur des sujets particuliers, acc&eacute;der &agrave; la galerie pour admirer les collections ou y d&eacute;poser vos propres photos, acc&eacute;der aux trucs et astuces de mod&eacute;liste, y d&eacute;poser vos exp&eacute;riences, et enfin poser vos questions
      .modal-footer
        button.btn.btn-success(type='button' data-dismiss='modal') Fermer
// *************************************************************************
// Fenêtre Modale Login
// *************************************************************************
#idModalLogin.modal.fade(tabindex='-1' role='dialog' aria-labelledby='idModalLoginTitle' aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role='document')
    #idModalContent.modal-content
      .modal-header
        h5.modal-title Bienvenue dans Collect&apos;Or
        button.close(type='button' data-dismiss='modal' aria-label='Fermer' aria-hidden='true') &times;
      .modal-body
        form#idLoginForm.form-signin
          img.mb-4.mx-auto.d-block(src='static/images/favicon.png' alt="Logo du site 'Collect\'Or'" width='auto' height='72')
          h1.h3.mb-3.font-weight-normal Veuillez vous identifier
          label.sr-only(for='LoginPseudo') Pseudonyme
          input#idLoginPseudo.form-control(type='text' name='LoginPseudo' placeholder='Pseudonyme' required='' autofocus='' pattern='^[a-zA-Z0-9]{1}[a-zA-Z0-9_&#$ \*\-]{2,19}$' title="Le 1er caractère doit être alphanumérique, les suivants également + ' ','_','&','#','-','*','$', et la longueur comprise entre 3 et 20 caractères")
          br
          label.sr-only(for='LoginPassword') Mot de passe
          input#idLoginPassword.form-control(type='password' name='LoginPassword' placeholder='Mot de passe' required='' pattern='^[a-zA-Z0-9]{1}[a-zA-Z0-9_&#$\*\-]{5,11}$' title="Le 1er caractère doit être alphanumérique, les suivants également + '_','&','#','-','*','$', et la longueur comprise entre 6 et 12 caractères")
          #idForgottenPWD.mt-1.mb-2.text-muted.text-right(data-dismiss='modal')  Mot de passe oubli&eacute; ?
          p#idLoginAlertMsg.lead.mt-5.display-4.text-danger.text-center.alertMsg Pseudo et/ou mot de passe inconnus
          .modal-footer
            button#idConnectionBtn.btn.btn-lg.btn-success.btn-block(type='submit') Connexion
// *************************************************************************
// Fenêtre Modale Inscription
// *************************************************************************
#idModalSignIn.modal.fade(tabindex='-1' role='dialog' aria-labelledby='idModalSignInTitle' aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role='document')
    #idModalContent.modal-content
      .modal-header
        h5.modal-title Bienvenue dans Collect&apos;Or
        button.close(type='button' data-dismiss='modal' aria-label='Fermer' aria-hidden='true') &times;
      .modal-body
        form#idSignInForm.form-signin
          img.mb-4.mx-auto.d-block(src='static/images/favicon.png' alt="Logo du site 'Collect\'Or'" width='auto' height='72')
          h1.h3.mb-3.font-weight-normal Veuillez saisir vos informations
          .mb-3
            label.sr-only(for='SignInEmail')
              | Email 
              span.text-muted
            .input-group
              .input-group-prepend
                span.input-group-text @
              input#idSignInEmail.form-control(type='email' name='SignInEmail' placeholder='exemple@provider.com' required='' autofocus='')
              .invalid-feedback
                | Veuillez saisir une adresse mail valide  (xxxxxx@yyyy.zz)
          label.sr-only(for='SignInPseudo') Pseudonyme
          input#idSignInPseudo.form-control(type='text' name='SignInPseudo' placeholder='Pseudonyme' required='' pattern='^[a-zA-Z0-9]{1}[a-zA-Z0-9_&#$ \*\-]{2,19}$' title="Le 1er caractère doit être alphanumérique, les suivants également + ' ','_','&','#','-','*','$', et la longueur comprise entre 3 et 20 caractères")
          br
          label.sr-only(for='SignInPassword') Mot de passe
          input#idSignInPassword.form-control(type='password' name='SignInPassword' placeholder='Mot de passe' required='' pattern='^[a-zA-Z0-9]{1}[a-zA-Z0-9_&#$\*\-]{5,11}$' title="Le 1er caractère doit être alphanumérique, les suivants également + '_','&','#','-','*','$', et la longueur comprise entre 6 et 12 caractères")
          input#idSignInConfirmPassword.form-control(type='password' name='SignInConfirmPassword' placeholder='Mot de passe' required='' pattern='^[a-zA-Z0-9]{1}[a-zA-Z0-9_&#$\*\-]{5,11}$' title="Le 1er caractère doit être alphanumérique, les suivants également + '_','&','#','-','*','$', et la longueur comprise entre 6 et 12 caractères")
          label.sr-only(for='SignInConfirmPassword') Confirmez le mot de passe
          p#idSignInAlertMsg.lead.mt-5.display-4.text-danger.text-center.alertMsg Le mail et/ou le pseudo sont d&eacute;j&agrave; attribu&eacute;s
          .modal-footer
            button#idSignInBtn.btn.btn-lg.btn-success.btn-block(type='submit') Cr&eacute;ation
// *************************************************************************
// Vérification Javascript activé + chargement des librairies
// *************************************************************************
noscript
  p Veuillez activer JavaScript
script(src='static/js/jquery-3.3.1.slim.min.js')
script(src='static/js/popper.min.js')
script(src='static/js/bootstrap.min.js')
script(src='/socket.io/socket.io.js')
script(src='/static/js/toolBox.js')
script(src='/static/js/variables.js')
script(src='/static/js/SPAMgr.js')
script(src='/static/js/PlayersClientSide.js')
script.
  giveFocusToModalFirstField('idModalLogin', 'idLoginPseudo');
